.about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/myimg.jpg") no-repeat center center fixed;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    color: white;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}