@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.social {
    margin-top: 50px;
    display: flex;
    bottom: 60px;
}

.social i {
    padding-right: 30px;
    font-size: 25px;
    color: wheat;
}

.social i:hover {
    color: #ffffff;
}